<%- include("partials/header") -%>
  
 <main class="main">
   <div class="container">
      <h1>WELCOME TO EAGLE GLOW</h1>
   
      <p>Unleash Your Inner Warrior with the Art of Wushu </p>

      <a href="/register"><button type="button">REGISTER NOW</button></a>
   </div>


      
</main>
      
   
    

    
<%- include("partials/footer") -%>