<%- include("partials/header") -%>

<div class="contener">
    <div class="photo">
        <img class="pro" src="../image/wushu.jpg" alt="king">
    </div>
</div>

<div class="register">
    <form action="/register" method="post" onsubmit="return validateForm();" >
        <script>
            function validateForm() {
                console.log("🚀 Form submission triggered!");
                return true;  // Ensures submission is forced
            }
        </script>
        <label>
            Full name: <input name="name" type="text" placeholder="name">
        </label><br><br>
        <label>
            Phone: <input name="phoneNumber" type="text" placeholder="+251">
        </label><br><br>
        <label>
            date of birth: <input name="dob" type="date">
        </label><br><br>
        <label>
            Current Level: <input name="level" type="text" placeholder="red">
        </label><br><br>
        <label>
            Sex: <input name="sex" type="radio" value="male"> Male
            <input name="sex" type="radio" value="female"> Female
        </label><br><br>
        <label>
            Emergency phone: <input name="emergency_phone" type="text">
        </label><br><br>
        <label>
            Family name: <input name="family_name" type="text">
        </label><br><br>
        <input type="submit" value="Submit">
    </form>
</div>  
        
<%- include("partials/footer") -%>