header {
    display: flex;
    gap: 100px;
    align-items: center;
    /* justify-content: center; */

}

.nav-btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url('/assets/image/bold_fierce_eagle_logo.png') no-repeat center;
    background-size: cover; /* Ensures full coverage */
    
}

nav{
    display: flex;
    gap: 10px;
}

.lan-btn

.btn:hover {
    transform: scale(1.1);
  }